body {
    background: #a8a8a8;
}
.mn {
    padding: 5px 20px;
}
input , button{
    margin:5px 0;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
}
button{
    cursor: pointer;
}