*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: rgb(58, 58, 58);
    color: white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.inputForm{
    width: 340px;
    min-height: 200px;
    text-align: center;
    color: #ffffff96;
    box-shadow: 0 0 6px black;
    border-radius: 10px;
}
.inputForm h2{
    margin: 5px;
}
.inputForm .errMsg {
    color: rgb(255 26 26);
    margin: 8px 0;
}
.formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formDiv input {
    width: 88%;
    margin: 10px 0;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 0 0 5px black;
    color: #c7c5c5;
}
.btn {
    padding: 6px 7px;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 13px;
}
.formDiv .acntTxt{
    margin: 18px 0;
}
.formDiv .acntTxt:hover{
    text-decoration: underline;
    cursor: pointer;
}




.mnPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.gameContainer {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gameContainer .lvl{
    margin-bottom: 5px;
}
.balloonsContainer {
    background-color: #678386;
    width: 592px;
    height: 405px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.mnBalloons{
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    text-align: center;
}
.gamePopUp , .ntHover{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ntHover{
    background-color: transparent;
}
.gmPopBtn {
    background-color: green;
}
.balloon {
    width: 60px;
    height: 60px;
    background-color: #333333;
    border-radius: 50%;
    margin: 7px;
    box-shadow: 0 0 7px #00000021;
    display: inline-block;
    position: relative;
    animation: left 1s  infinite;
}
@keyframes left {
    0%{
        left: 0px;
    }50%{
        left: 5px;
    }
    100%{
        left: 0px;
    }
}
.balloon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 20px;
    width: 53px;
}
.poppedBalloon{
    box-shadow: none;
    background-color: transparent !important;
}
.lives{
    position: fixed;
    top: 15px;
    right: 15px;
};

/* Balloons color */
.black{
    background-color: rgb(39, 39, 39);
}
.blue{
    background-color: rgb(0, 60, 255);
}
.red{
    background-color: red;
}
.yellow{
    background-color: rgb(243, 239, 14);
}
.green{
    background-color: rgb(52, 243, 14);
}


/* For Loader */
.loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 58, 58);
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #21ff94;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #42a6ff transparent transparent transparent;
}
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }